@media screen and (min-width: 768px) {
    .desktop-view {
        display: block;
    }
    .not-mobile-view {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .desktop-view {
        display: none;
    }
    .not-mobile-view {
        display: block;
    }
}

.tblmax-height tbody {
    display: block;
    height: 250px;
    overflow: auto;
}

.tblmax-height thead,
.tblmax-height tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
}

.tblmax-height thead {
    width: calc( 100% - 1em) scrollbar is average 1em/16px width, remove it from thead width
}

.footer-content-desh .table {
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-content-desh {
    position: sticky;
    /* margin-bottom: 10px; */
    bottom: 0;
    width: 100%;
    z-index: 999;
    height: 150px;
}

.hr-bold {
    border-bottom: 2px solid !important;
    margin-bottom: 10px !important;
}

.multiselect__content-wrapper {
    min-width: 350px !important;
}