/* .sidebar {
    width: 200px !important;
}

.sidebar+.main-content {
    margin-left: 200px !important;
} */

.select2 {
    width: 100% !important;
}

.tags {
    width: 100% !important;
    min-height: 73px !important;
}

.table-responsive {
    background-color: #eff3f8 !important;
}

.table tbody tr td .dtr-data>div.action-buttons {
    display: inline-block;
}

@media (max-width: 768px) {
    table.dataTable>tbody>tr.child ul.dropdown-menu {
        position: static;
        display: none;
        float: none;
    }
}

.multiselect-native-select .btn-group {
    display: none !important;
}

.multiselect__tags {
    min-height: 60px !important;
    padding: 10px 40px 30px 8px !important;
    font-size: 12px !important;
}

.multiselect__content {
    font-size: 12px !important;
}